<div class="flex items-center justify-center mt-50">
    <div class="flex flex-col items-center gap-10">
        <div class="flex items-center max-md:justify-center flex-wrap">
            <h1 class="text-8xl">404</h1>
            <p-divider layout="vertical" class="max-md:hidden"></p-divider>
            <p-divider class="min-md:hidden"></p-divider>
            <p class="text-2xl">Not found!</p>
        </div>
        <p-button icon="pi pi-arrow-left" label="Go Back" rounded="true" severity="primary"
            (onClick)="goBack()"></p-button>
    </div>
</div>