<div class="flex justify-between items-center gap-10 w-full">
    <!-- SIDEBAR -->
    <div class="flex items-center gap-2">
        <p-button icon="pi pi-bars" size="large" [rounded]="true" severity="secondary" [text]="false" variant="outlined"
            (click)="sidebarVisibility = true" styleClass=""></p-button>

        <p-drawer [(visible)]="sidebarVisibility" [closable]="true">
            <ng-template #header>
                <div class="flex items-center gap-2">

                </div>
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.
            </p>
            <ng-template #footer>

            </ng-template>
        </p-drawer>
    </div>

    <div class="flex items-center gap-1">
        <!-- CITY SEARCH -->
        <div>
            <i class="pi pi-search transform translate-y-4 translate-x-4 absolute z-1"></i>
            <p-autocomplete pInputText [(ngModel)]="city" [suggestions]="filteredCities"
                (completeMethod)="filterCity($event)" (onSelect)="selectCity(city)" field="city"
                placeholder="City Search..." variant="outlined" inputStyleClass="pl-10 rounded-full">
                <ng-template #item let-city>
                    <div class="flex items-center gap-10">
                        <div class="flex items-center gap-2">
                            <span class="fi fi-{{ city.country.toLowerCase() }}"></span> {{
                            `${city.city}, ${cities.getCountryName(city.country)}` }}
                        </div>
                        {{
                        `${city.lat}°N ${city.long}°E` }}
                    </div>
                </ng-template>
            </p-autocomplete>
        </div>

        <!-- SETTINGS -->
        <div class="flex">
            <p-menu #menu [model]="settingsItems" [popup]="true"></p-menu>
            <p-button icon="pi pi-cog" label="Settings" [rounded]="true" severity="secondary" variant="outlined"
                [text]="false" (click)="menu.toggle($event)"></p-button>
        </div>
    </div>

    <!-- TOGGLE THEME -->
    <p-button icon="pi pi-moon" size="large" [rounded]="true" severity="secondary" variant="outlined" [text]="false"
        (onClick)="toggleDarkMode()"></p-button>
</div>